:root {
	--header-height: 64px;
	--footer-height: 64px;
	--borders-color: rgb(210, 210, 215);
	--menu-text-color: rgb(100, 100, 100);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
}

div.centered {
	width: 40%;
	min-width: 768px;
	margin: 0 auto;
	padding: 20px;
}

#header {
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: 1px solid var(--borders-color);
	background-color: #FFFF;
}

#header >.centered,
#footer >.centered {
	display: flex;
	align-items: center;
}

#header >.centered >div,
#footer >.centered >div {
	flex: 1;
}

#header >.centered >div:last-child,
#footer >.centered >div:last-child {
	text-align: right;
}

#title {
	font-size: 1.2em;
}

#title::before {
	content: "\1f4bb";
}

#title::after {
	content: "beta";
	font-size: 0.6em;
	position: relative;
	top: 0.5em;
}

#title a {
	color: inherit;
	text-decoration: none;
}

#part {
	color: grey;
}

#wrapper {
	display: flex;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	padding: 0;
}

#wrapper >#menu {
	flex: 0 0 150px;
	border-right: 1px solid var(--borders-color);
	padding: 40px 0;
	font-size: 0.9em;
	color: var(--menu-text-color);
}

#wrapper >#main {
	flex: 1;
	padding: 40px 30px;
}

#menu >.sticky {
	position: sticky;
	top: calc(var(--header-height) + 40px);
}

#menu h1 {
	padding-left: 20px;
	font-size: 0.9em;
}

/* Override dello styling predefinito per le liste non ordinate */
#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	border-left: 3px solid rgb(180, 180, 180);
	background-color: rgb(240, 240, 240);
}

#menu li:hover {
	border-left-color: rgb(160, 160, 160);
	background-color: rgb(220, 220, 220);
}

/* Override dello styling predefinito per i collegamenti */
#menu li >a {
	display: block;
	padding: 10px 20px;
	color: inherit;
	text-decoration: none;
}

#main > *:first-child {
	margin-top: 0;
}

#main pre {
	margin-left: 30px;
}

#main p code,
#main ul code,
#main pre code {
	background-color: rgb(240, 240, 240);
	font-size: 1.1em;
}

#main div.appl {
	background-color: rgb(240, 255, 240);
	border: 1px solid green;
	margin: 1em 0;
	padding: 10px;
}

#main div.note {
	background-color: rgb(255, 240, 240);
	border: 1px solid red;
	margin: 1em 0;
	padding: 10px;
}

#main div.appl::before,
#main div.note::before {
	display: block;
	padding-bottom: 4px;
	border-bottom: 1px dotted grey;
	margin-bottom: 2px;
	font-size: 0.8em;
	font-weight: bold;
	color: var(--menu-text-color);
}

#main div.appl::before {
	content: "Applicazione";
}

#main div.note::before {
	content: "Nota";
}

#main div.appl >p:first-child,
#main div.note >p:first-child {
	margin-top: 0;
}

#main div.appl >p:last-child,
#main div.note >p:last-child {
	margin-bottom: 0;
}

#main span.colored {
	color: red;
}

#footer {
	z-index: 100;
	min-height: 64px;
	background-color: rgb(240, 240, 240);
	color: var(--menu-text-color);
}
