:root {
	--header-height: 64px;
	--footer-height: 64px;
	--borders-color: rgb(210, 210, 215);
	--menu-text-color: rgb(100, 100, 100);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
}

div.centered {
	width: 40%;
	min-width: 768px;
	margin: 0 auto;
	padding: 20px;
}

#header {
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: 1px solid var(--borders-color);
	background-color: #FFFF;
}

#header >.centered,
#footer >.centered {
	display: flex;
	align-items: center;
}

#header >.centered >div,
#footer >.centered >div {
	flex: 1;
}

#header >.centered >div:last-child,
#footer >.centered >div:last-child {
	text-align: right;
}

#header >.centered >div:last-child >a,
#footer >.centered >div:last-child >a {
	color: var(--menu-text-color);
}

#title {
	font-size: 1.2em;
}

#title::before {
	content: "\1f4bb";
}

#title::after {
	content: "beta";
	font-size: 0.6em;
	position: relative;
	top: 0.5em;
}

#title a {
	color: inherit;
	text-decoration: none;
}

#wrapper {
	display: flex;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	padding: 0;
}

#wrapper >#menu {
	flex: 0 0 150px;
	border-right: 1px solid var(--borders-color);
	padding: 40px 0;
	font-size: 0.9em;
	color: var(--menu-text-color);
}

#wrapper >#main {
	flex: 1;
	padding: 40px 30px;
}

#menu >.sticky {
	position: sticky;
	top: calc(var(--header-height) + 40px);
}

#menu h1:first-child {
	margin-top: revert;
}

#menu h1 {
	margin-top: 40px;
	padding-left: 20px;
	font-size: 0.9em;
}

/* Override dello styling predefinito per le liste non ordinate */
#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Override dello styling predefinito per i collegamenti */
#menu li >a {
	display: block;
	padding: 10px 20px;
	color: inherit;
	text-decoration: none;
}

#menu li >a:hover {
	background-color: rgb(250, 250, 250);
	border-radius: 8px 0 0 8px;
}

#menu li >a.active {
	background-color: rgb(240, 240, 240);
	border-radius: 8px 0 0 8px;
}

#footer {
	z-index: 100;
	min-height: 64px;
	background-color: rgb(240, 240, 240);
	color: var(--menu-text-color);
}

div.mbox {
	position: sticky;
	top: calc(var(--header-height) + 40px);
	left: 0;
	margin-bottom: 15px;
	border: 1px solid;
	padding: 20px;
}

.mbox.success {
	border-color: green;
	background-color: rgb(240, 255, 240);
}

.mbox.failure {
	border-color: red;
	background-color: rgb(255, 240, 240);
}
